@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');


body {
  font-family: 'Courier Prime', monospace;
  font-size: 12px;
  letter-spacing: 0.6px;
  background-color: #ffffff;
}


html {
  scroll-behavior: smooth;
}

.anchor {
  display:block;
    padding-top:50px;
    margin-top:-50px;
}


.topleft {
  z-index: 1000;
  font-size:20px;
  position:fixed;
  top:70px;
  left:0;
  float:left;
    -webkit-transform: rotate(-90deg);  
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}

.topleft2 {
  z-index: 1000;
font-size:20px;
  position:fixed;
  top:0;
  left:0;
  float:left;
  padding:20px;
  padding-left:50px;

}
.topleft3{

  display:none;
}


.topright {
  z-index: 1000;
font-size:20px;
  position:fixed;
  top:0;
  right:0;
  float:right;
  padding:20px;
  padding-right:80px;
}

.topright2 {
  z-index: 1000;
font-size:20px;
  position:fixed;
  top:90px;
  right:0;
  float:right;
  margin:0;
  padding-top:0;
      -webkit-transform: rotate(90deg);  
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}


.topright3{

  display:none;
}


.bottomleft {
z-index: 1000;
  position:fixed;
  bottom:0;
  left:0;
  float:left;
  width:50px;
padding:20px;
}


.bottomright {
z-index: 1000;
  position:fixed;
  bottom:0;
  right:0;
  float:right;
width:50px;
padding:20px;
}

.bottommiddle {
z-index: 1000;
  position:fixed;
  margin: 0 auto;
  bottom:0;
width:50px;
padding:20px;
left: 50%;
}


.center {

  max-width:80%;
  margin:0;
  padding: 0 10% 0 10%;
}

.arrow {
z-index: 1000;
  position:fixed;
  margin: 0 auto;
  bottom:0;
width:50px;
padding:20px;
left: 50%;
}



a.arrow {
z-index: 1000;
  position:fixed;
  margin: 0 auto;
  bottom:0;
width:50px;
padding:20px;
left: 50%;
}





ul#contents{
  text-decoration: none;
  text-align: right;
z-index: 1000;
  list-style:none;
  padding: 0;
    margin: 0;
     line-height: 2.5;
     position:fixed;
     float:right;
width:220px;
padding-right:100px;
right:0;
top:8%;
}



#project_1 {
  padding-top:50px;
width:100%;
position: relative;
margin:0 auto;
display: block;
display:flex;
     flex-wrap: wrap;

}
#project_2 {
    padding-top:50px;
width:100%;
position: relative;
margin:0 auto;
align-content: middle;
   vertical-align: middle;
}
#project_3 {
   padding-top:50px;
width:100%;
position: relative;
margin:0;
display:flex;
     flex-wrap: wrap;
}
#project_4 {
     padding-top:50px;
width:100%;
position: relative;
margin:0 auto;
}


#project_5 {
padding-top:50px;
width:100%;
position: relative;
margin:0 auto;
display:flex;
flex-wrap: wrap;

}
#project_6 {
padding-top:50px;
width:100%;
position: relative;
margin:0;
}
#project_7 {
  padding-top:50px;
width:100%;
position: relative;
margin:0;
}
#project_8 {
  padding-top:50px;
width:100%;
position: relative;
margin:0;

}



#myVideo {

transition: height 500ms;


}

#intro {
  margin:0 auto;
    z-index: 100;
width:50%;
padding-bottom:200px;
transition: 500ms linear;
}

.jump{
height:800px;
width:50%;
transition: 700ms;
margin:0 auto;
}


.title {
  z-index: 100;
width:50%;
padding-left:155px;
}

.left {
  margin:0;
  width:40%;
   padding:0px 0% 0%  7% ;
   left:0;
}

.right {

  width:40%;
   padding:0px 7% 0%  0% ;
  margin:0;
  right:0;
}

.videoright {

  width:20%;
   padding-right:100px;
  margin:0;
  right:0;
  top:0;
  float:right;
}

.videotitle {
  z-index: 100;
width:50%;
padding-left:155px;
margin:0;
float:left;
}




h1 {
font-size:20px;
font-weight:normal;
text-decoration: underline;
}

h2 {
font-size:70px;
font-weight:normal;
}

img.icons {
  width:35px;
  padding-left:10px;
  padding-right:10px;
  text-align: center;
   vertical-align: middle;

}

img.icons2 {
  padding-left:80px;
  padding-top:10px;
  width:60px;
position: absolute;
  text-align: center;
   vertical-align: middle;

}




    .b-lazy {
        margin:0 auto;
       opacity:0;
       transition: all 500ms;
    }
    .b-loaded {
       opacity:1;
    }


  .picture1 {
       width:80%;
       margin:0 auto;
       display: block;
    }

.picture2 {
       width:30%;
       top:0;
       margin:0 auto;
       padding: 0 0 0 10%;
    }

    .picture3 {
       width:50%;
       margin:0;
       right:0;
       padding:0;
       top:0;
       flex-wrap: wrap;
    }

    .picture4 {
       width:60%;
       top:0;
       margin:0 auto;
       display: block;
      padding-left:20%;
       padding-right:20%;
       padding-top:5%;
  padding-bottom:5%;
    }


      .picture5 {
       width:50%;
       height:50%;
       margin:0 auto;
       display: block;
       padding-left:10%;
       padding-right:10%;
    }

      .picture6 {
       width:30%;
       float:right;
       padding-right:20%;

    }


.column {
  float: left;
  width: 32%;
  padding: 0 20px 0 20px;
}


.column2 {
  float:left;
  width: 50%;
  padding: 0 20px 0 20px;
}


  .row {
  
    width:100%;
    height:auto;
    display: flex;

  }



.row2 {
display: flex;
}


.embed-container { 
  position: relative; 
  padding-bottom: 56.25%;
  height: auto; 
  width: 100%; 
  } 

  .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 70%; 
    height: 100%; 
    margin:0 auto;
    display: block;
  }






          .caption {
            float:left;
            padding-left:155px;
       width:30%;

    }



video {
width:100%;
max-height:100%;
}


img {
max-width:100%;
max-height:100%;
padding:0;
margin:0 auto;

}



a {
  color: #000000;
  text-decoration: none;
}


a:hover {
  color:  #FF8C00;
}


 /* Style the Image Used to Trigger the Modal */
.myImg {
    cursor: pointer;
    transition: 0.0s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    align-content: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
padding-top:100px;
    display: block;
    width: 90%;
}






@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}











@media screen and (max-width: 750px) {
ul#contents{

display: none; 

}

  .column {
    width: 100%;
    padding:0;
    margin:0;
    float:left;

  }

    .column2 {
    width: 100%;
    float:left;
  }

  .row {
  
    width:100%;
    height:auto;
    display: flex;

  }

.row2:after {
  content: "";
  display: table;
  clear: both;
}



  .icons2 {

    display:none;
  }

    .title {
 
  z-index: 100;
width:90%;
padding:0 5% 0 5%;
margin:0;

  }
      .picture5 {
       width:80%;
       height:80%;
       margin:0 auto;
       display: block;
       padding-left:10%;
       padding-right:10%;
    }




#project_1 {
  padding-top:50px;
}
#project_2 {
    padding-top:0;
}
#project_3 {
   padding-top:0;
}
#project_4 {
     padding-top:0;
}


#project_5 {
padding-top:0;

}
#project_6 {
padding-top:0;
}
#project_7 {
  padding-top:0;
}
#project_8 {
  padding-top:0;

}


#intro {
  margin:0 auto;
    z-index: 100;
width:80%;
padding-bottom:200px;
transition: 500ms linear;
}

.jump{
height:800px;
width:80%;
transition: 700ms;
margin:0 auto;
}


.topright2 {
display:none;
}

.topright {
display:none;
}

.topleft2 {
display:none;
}

.topleft {
display:none;
}



.topleft3 {
  display: inherit;
  z-index: 1000;
  font-size:20px;
  position:fixed;
  top:10px;
  margin:0 auto;
  display: block;
  text-align: left;
  padding:0 0 0 5%;


}

.topright3{
  display: inherit;
  z-index: 999;
  font-size:20px;
  position:fixed;
background-color: #ffffff;
width:100%;
height:35px;
text-align:right;
}


  .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 80%; 
    height: 100%; 
    margin:0 auto;
    display: block;
  }




.left {
  margin:0;
  width:45%;
   padding:0px 1% 0%  1% ;
   left:0;
}

.right {

  width:45%;
   padding:0px 1% 0%  1% ;
  margin:0;
  right:0;
  float:right;
}


    .modal-content {
        width: 100%;
        padding:5% 0 0 0; 
    }


}

